.node-option {
  span {
    &:last-child {
      flex-grow: 1;
      overflow: hidden;
    }
  }
}

.page-node-list {
  .ant-row {
    height: 100%;
    .ant-col {
      height: 100%;
      .ant-form-item-control-input {
        height: 100%;
        .ant-form-item-control-input-content {
          height: 100%;
          .list {
            padding-bottom: 24px;
            box-sizing: border-box;
            height: calc(100% - 32px - 32px);
            overflow-y: auto;
          }
        }
      }
    }
  }
}
